<button (click)="goBack()">go back</button>

<h2>Series </h2>
<ul class="series">
  <li *ngFor="let ser of series">
 <a routerLink="/detail/{{ser.id}}" >
    <span class="badge">{{ser.id}}</span> {{ser.title}}
    </a>
    <button class="delete" title="delete Series" (click)="delete(ser)">x</button>
  </li>
</ul>

<div>
  <label>series name:
    <input #seriesName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(seriesName.value); seriesName.value=''">
    add
  </button>
</div>