
<ul data-role="listview" class="audioFiles">
  <li *ngFor="let audio of audioFiles" (click)="onSelect(audio)">
    <span class="badge">{{ audio.id | default: 'XX' }}</span> <audio preload="none" id='otrPlayer' controls src='http://localhost/Monolith/FileServer?id={{audio.id}}'> Your browser does not support the <code>audio</code> element.  </audio> {{ audio.filename | default: 'No fileName' }} <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
  </li>
</ul>

<BR><BR>
<span class="more">
<button (click)="getMoreResults()">MORE</button>
</span>
