<div data-role="main" class="ui-content" id="nav" *ngIf="episodes.length > 0">

  <div data-role="collapsible" *ngFor="let episode of episodes" (click)="onSelect(episode)">
    {{ episode.episodeNumber | default: 'XX' }} {{ episode.title | default: 'No Title' }} Broadcast: {{ episode.broadcastDate | default: 'XX/XX/XX' }} Exists: {{ episode.exists }} Have: {{ episode.have }}
  	<app-episode-detail *ngIf="selectedEpisode === episode" [boundEpisode]="episode"></app-episode-detail>
  </div>
</div>
<BR><BR>
<div class="more">
<button (click)="getMoreResults()">MORE</button>
</div>