<div id="nav">
<ul class="episodes">
  <li *ngFor="let episode of episodes" (click)="onSelect(episode)">
    <span class="badge">{{ episode.episode.episodeNumber | default: 'XX' }}</span> {{ episode.episode.title | default: 'No Title' }} <span class="title">Broadcast: {{ episode.episode.broadcastDate | default: 'XX/XX/XX' }} Exists: {{ episode.episode.exists }} Have: {{ episode.episode.have }}</span> 
  </li>
</ul>

</div>
<div>
<ul *ngIf="selectedEpisode != null">
    <app-episode-detail ></app-episode-detail>
    </ul>
</div>
<BR><BR>
<div style="text-align: center;">
<button (click)="getMoreResults()">MORE</button>
</div>